@keyframes float {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes fadeFromInvisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
